[Desktop Entry]
Version=1.0
Type=Application
Name=Google Chrome
Comment=Web browser
Exec=sh -c 'google-chrome-stable --user-data-dir="${CHROME_USER_DATA_DIR:-$HOME/.config/google-chrome}" --no-first-run --disable-gpu --no-sandbox --test-type --disable-dev-shm-usage --disable-infobars chrome://new-tab-page'
Icon=google-chrome
Terminal=false
Categories=Network;WebBrowser;
StartupWMClass=Google-chrome
