[Desktop Entry]
Version=1.0
Type=Application
Name=Files
Comment=File manager
Exec=thunar
Icon=system-file-manager
Terminal=false
Categories=System;FileTools;FileManager;
